*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: beige;
}
header{
	background-color: white;
	color: #222;
	padding: 20px;
	text-align: center;
}

#scoreBoard {
	text-align: center;
	font-size: 20px;
	align-items: center; 
}

.choices{
	text-align:center;
}

#winResult{
	display: flex;
	justify-content: center;
	font-size: 24px;
}